{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}
{% block content %}
<style>
.blog-ctnr {
    margin-top: 5em;
}
</style>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ThoughtTrove</a>
      <div class="button-group">
      <a type="button" class="btn text-white" data-toggle="modal" data-target="#loginModal">
        Write a Blog
      </a>
      <a type="button" class="btn text-white" data-toggle="modal" data-target="#loginModal">
        User Name
      </a>
    </div>
    </div>
  </nav>
<div class="container blog-ctnr">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">My Awesome Blog Post</h1>
            <p class="text-muted text-center">Published on May 15, 2024</p>
            <img src="blog-image.jpg" alt="Blog Image" class="img-fluid mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec justo non urna aliquet tincidunt. Sed euismod, libero vel bibendum venenatis, nunc elit dignissim justo, vel tincidunt libero elit vel nunc.</p>
            <p>Curabitur auctor, libero vel bibendum venenatis, nunc elit dignissim justo, vel tincidunt libero elit vel nunc. Sed euismod, libero vel bibendum venenatis, nunc elit dignissim justo, vel tincidunt libero elit vel nunc.</p>
            <p>Donec auctor, libero vel bibendum venenatis, nunc elit dignissim justo, vel tincidunt libero elit vel nunc. Sed euismod, libero vel bibendum venenatis, nunc elit dignissim justo, vel tincidunt libero elit vel nunc.</p>
            <p class="text-center">
                <a href="#" class="btn btn-primary">Read More</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}